<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ydhnwb.comodity">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".IntroAct.SliderActivity"
            android:theme="@style/Theme.Intro" />
        <activity
            android:name=".LoginActivity"/>
        <activity
            android:name=".UploadActivity"
            android:label="@string/title_activity_upload"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailActivity"
            android:label="@string/title_activity_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChattingActivity"
            android:label="@string/title_activity_chatting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListChatActivity"
            android:label="@string/title_activity_list_chat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CariActivity"
            android:label="@string/title_activity_cari"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BeliActivity"
            android:label="@string/title_activity_beli"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".Services.UploadWorker"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            tools:node="replace" />

        <activity
            android:name=".PersonsActivity"
            android:label="@string/title_activity_persons"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TransactionActivity"
            android:label="@string/title_activity_transaction"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SeeTransactionActivity" />
        <activity
            android:name=".ChooseDriverActivity"
            android:label="@string/title_activity_choose_driver"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TrackingActivity"
            android:label="@string/title_activity_tracking"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>